body {
	margin: 0;
	font-family: sans-serif;
	padding-top: 31px;
	background: #fff;
	color: #888;
	font-size: 14px;
	overflow: hidden;
}
ul, li {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}

.menubar {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #aaa;
	background: #eee;
	z-index: 100;
}
.menu {
	float: left;
	width: 70px;
	cursor: pointer;
}
.menu-title {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0)
}
.menu:hover {
	background: #f5f5f5;
}

.menu-list {
	display: none;
	min-width: 100px;
	padding: 10px 0;
	background: #f5f5f5;
}
.menu-list.show {
	display: block;
}
.menu-item {
	display: block;
	padding: 5px 10px;
	width: 80px;
}
.menu-item:hover {
	color: #fff;
	background: #3B99FC;
}


.viewport {
	position: absolute;
	left: 0;
	top: 30px;
	width: 80%;
	height: 70%;
}


.code-editor {
	display: none;
	position: fixed;
	left: 30%;
	top: 10%;
	width: 40%;
	height: 70%;
	padding-bottom: 40px;
	border: 1px solid #aaa;
	background: #eee;
	z-index: 999;
}
.code-editor.show {
	display: block;
}
.code-editor .code-area {
	width: 100%;
	height: 100%;
	border: none;
	overflow: auto;
	font-family: monospace;
}
.code-editor .enable-code-flag {
	float: left;
	margin-top: 5px;
	margin-left: 10px;
	height: 30px;
	line-height: 30px;
}
.code-editor .cancel-button,
.code-editor .confirm-button {
	float: right;
	margin-top: 5px;
	margin-right: 10px;
	height: 30px;
}

.sidebar {
	position: absolute;
	right: 0;
	top: 0;
	width: 250px;
	height: 70%; 
	padding: 0 10px;
	background: #eee;
	overflow-y: auto;
	overflow-x: hidden;
}
.sidebar-title {
	margin-top: 31px;
	margin-bottom: 0;
	font-size: 18px;
	line-height: 1em;
	padding: 10px 0;
}

.tree-panel {
	width: 100%;
	height: 200px;
	background: #fff;
	color: #000;
	font-size: 12px;
	box-sizing: border-box;
	border: 1px solid #aaa;
	overflow: auto;
}
.tree-node {
	display: block;
	padding: 0 15px;
	padding-top: 5px;
}
.tree-node-title {
	padding: 2px 5px;
	border: 1px solid rgba(0, 0, 0, 0);
	cursor: pointer;
}
.tree-node-title.selected {
	border: 1px solid #333;
}

.prop-row {
	float: left;
	width: 100%;
	margin: 5px 0;
}
.prop-title {
	margin-top: 10px;
	font-size: 16px;
	color: #555;
}
.prop-label {
	float: left;
	min-width: 50px;
}
.prop-html {
	display: block;
	width: 100%;
	height: 120px;
	background: #fff;
	overflow: auto;
}
.prop-value {
	float: left;
	margin: 0 5px;
	width: 120px;
}
.prop-range input {
	width: 40px;
}
.prop-code {
	float: right;
	margin-left: 5px;
}

.bottombar {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30%;
	border-top: 1px solid #aaa;
	background: #eee;
}
.bottombar-title {
	margin: 0 10px;
	font-size: 18px;
	line-height: 1em;
}
.toolbar {
	float: left;
	width: 50px;
	height: 100%;
	overflow: auto;
}
.data-pool {
	float: left;
	width: 75%;
	height: 100%;
	margin: 0;
	background: #fff;
	overflow: auto;
}
.data-panel {
	float: left;
	width: 250px;
	height: 100%;
	padding: 0 10px;
	overflow: auto;
}
.data-panel .prop-title {
	margin: 0;
	font-size: 18px;
	color: #888;
	font-weight: bold;
}


/* SVG style */
.axis path,
.axis line{
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

.node.selected circle {
	fill: #f00;
}
.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}
.node.filter circle {
	fill: green;
	stroke: green;
}
.node.cluster circle {
	fill: blue;
	stroke: blue;
}

.node {
	font: 12px sans-serif;
	cursor: pointer;
}
 
.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}